.title {
  display: flex;
  justify-content: center;
}

h2 {
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  color: var(--color);
}

.content {
  width: 100%;
  display: inline-grid;
  grid-gap: 10px;
  grid-template-columns: 50% 50%;
}

.chart-content,
.table-content {
  padding: 0 20px 0 0px;
  height: calc(100vh - 140px);
}

.select {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 850px) {

  .page {
    overflow: auto;
  }

  .content {
    grid-template-columns: 100%;
    padding-left: 10px;
  }

  .chart-content {
    height: 100%;
  }

  .table-content {
    padding: 0 20px 0 0px;
    height: 100%;
  }
}