.header {
  color: var(--primary);
  background-color: var(--background-header);
  border-bottom: 2px solid var(--selected);
  width: 100%;
  display: inline-grid;
  grid-template-columns: 190px calc(100vw - 310px) 160px;
}

.header-title {
  position: relative;
  left: 0px;
  padding: 10px 12px;
  font-weight: 800;
  font-size: 26px;
}

.header-input {
  padding-top: 8px;
  width: 300px;
}

.header-right {
  display: flex;
  padding: 5px 0;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 1em;
  padding: 0.6em 0.7em 0.3em 1.0em;
  background-color: var(--background-button-primary);
  cursor: pointer;
  transition: border-color 0.15s;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.logout::after {
  font-family: bootstrap-icons !important;
  content: "\F1C3";
  display: inline-block;
  scale: 1.5;
}

button:hover {
  border-color: var(--border-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.username {
  padding: 10px;
}